@media(max-width:767px){
    
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap');
    .header{
        max-width: 100%;
         display: flex;
       
        align-items: center;
        &__list{
            display: none;
        }
        &__item a{
            display: none;
        }
    }
    .journey{
        &__block{
            display: flex;
            margin-left: 40px;
            gap:100px;
        }
        &__block2 img{
            display: none;
        }
         &__title{
            max-width: 70px;
            font-size: 1.5rem;
        }
        &__buttom{
           display: none;
        }
    }
    .location{
        width:350px;
        display: flex;
        justify-content: center;
        margin-left: 15px;
        margin-top: 40px;
        &__block{
            gap: 2rem;
          width: 100%;
          display: flex;
          background: #FFFFFF;
         box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
         border-radius: 10px;
        justify-content: center;
        margin-left: 100px;
        }
        &__button{
            width:45%;
            height:70px;
        }
    }
    .thing{
        &__title{
            font-size: 15px;
            max-width: 40%;
        }
        &__page{
            font-size: 13px;
            max-width: 60%;
           padding-top: 5px;
        }
        &__list-item{
            max-width: 120px;
           
        }
        &__list-item h1{
            font-size: 12px;
        }
        &__list-item p{
            font-size: 12px;
            max-width:100px;
        }
    }
    .exclusive{
        &__lists-title{
            font-size: 18px
        }
       &__list{
            display: flex;
           flex-direction: column; 
       }
    }
    .plan{
        &__lists-title{
            font-size: 18px;
            line-height: 32px;
        }
        &__lists-page{
            font-size: 9px;
            line-height: 32px;
        }
    }
    .strana{
        &__lists{
            display: flex;
            flex-direction: column;
        }
        &__items{
            width: 350px;
        }
    }
    .servic{
       
        &__list-title{
            font-size: 9px;
        }
        &__list-page{
            font-size: 9px;
        }
        &__list-pages{
            font-size: 9px;
            max-width: 50%;
        }
        &__list-titles{
            font-size: 9px;
        }
        &__list-titlesis{
            font-size: 9px;
        }
       
    }
    .servic{
        display: flex;
        gap:20px;
        flex-wrap: wrap;
    }
    .servic__list-two{
        border-radius:10px;
        background: var(--white, #FFF);
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
        width: 100%;
        height: 300px;
       
     
    }
    .blog{
        &__title{
            margin-left: 10rem;
        }
        &__titles{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    

    .blog__title h3{
        font-size: 10px;
       
    }
    .subscribe{
        &__list h1{
            font-size: 18px;
        }
        &__lists-box input{
            font-size: 18px;
           padding-right:20px;
        }
        &__lists-box p{
            font-size: 18px;
        }
        &__lists-button button{
            font-size: 18px;
        }
        &__border{
            display: none;
        }
    }
    .triabocks{
       
        &__list-page{
            
            color:#666666;
            padding-top: 1rem;
        }
        &__list-company{
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
             color:#000
        }
        &__list-companies{
            font-size:10px;
            font-style: normal;                
            font-weight: 400;   
            color:#666666;     
            padding-top: 1rem;        
        }
        width: 70%;
        margin: 18rem;
        gap: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer{
        display: flex;
        gap:15rem;
        margin-top: 20px;
        padding-left: 50px;
        padding-bottom:50px;
        border-top:1px solid #999;
        &-item {
           padding-top: 30px;
        }
        &-item a{
            text-decoration: none;
            color:#999;
        }
    }
}