//main

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Poppins', sans-serif;
    font-family: 'Volkhov', serif;
}
li{
    list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap');
.orange{
    color: #FA7436;
}
.conteiner{
    max-width:1170px;
    margin: 0 auto;
   
}
.header:hover{
    transition: .4s;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.8rem;
    transition: .4s;
    &__item{
        display: flex;
        gap:2rem;
    }
    &__list{
        display: flex;
        gap:2rem;
    }
    &__list a{
        text-decoration: none;
        color:black;
    }
    &__item a{
        text-decoration: none;
        color: orange;
    }
    &__button {
        background-color: orange;
        width:8rem;
        height: 2rem;
        background: #FA7436;
          box-shadow: 0px 8px 16px rgba(250, 116, 54, 0.24);
           border-radius: 5px;
           color:white;
           border:none;
    }
}
     .journey{
        display: flex;
        margin-top: 39px;
        width:100%;
        &__block{
            margin-top: 3.18rem;
            flex:0 0 50%;
           
        }
        &__block2{
            overflow: hidden;
            transition: .4s ease-in-out;
        }
        &__block2:hover:before {
            left: 150px;
            transition: .4s ease-in-out;
           }   
           &__block2:active{
            border: 2px solid #b3b3b3;
           }    
        &__title{
            max-width: 500px;
            font-size: 3rem;
            animation-duration: 3s;
            animation-name: slide;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            
        }
        @keyframes slide {
            from {
              margin-left: 100%;
              width: 300%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }
        &__page{
            margin-top: 1.9rem;
            max-width:70%;
            color: #666666;
            animation-duration: 3s;
            animation-name: slidein;
            line-height: 40px;
        }
        
       
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

        &__buttom{
            margin-top: 3.81rem;
            width:182px;
            height: 40px;
            border: 1px solid #FA7436;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            padding-top: 9.52px;
            background-color: transparent;
        }
        &__block2{
           flex:0 0 50%
        }
      }
      .location{
       max-width: 670px;
       height: 124px;
       display: flex;
       justify-content: center;
        &__block{
            gap: 2rem;
            padding-top: 2rem;
            margin-left: 3rem;
          max-width: 100%;
          display: flex;
          background: #FFFFFF;
         box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
         border-radius: 10px;
        justify-content: center;
        }
        &__item{
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
             
        }
        &__item:hover {
            transform: scale(1.1);
            color:#FA7436;
            transition: .4s;  
        }
        &__item:not(:hover) {
            transition: .4s;  
        }
        &__button{
            width:168px;
            height: 60px;
           color:white;
            background: #FA7436;
            box-shadow: 0px 8px 16px rgba(250, 116, 54, 0.16);
            border-radius: 5px;
            border:none;
        }
    
        &__item-page{
            color: #666666;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            margin-top: 4px;
        }
      }
       .thing{
       
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem;
       margin-bottom: 9.6rem;
       &__box{
        position: relative;
        left:400px;
        top:150px;
        width: 150px;
       }
        &__title{
            max-width: 35%;
            height: 58.18px;
            font-weight: 700;
            font-size: 48px;
            transition: .4s; 
            color: var(--primary-b, #222);
        }
        &__title:hover {
            transform: scale(1.1);
            color: green;
            transition: .4s; 
        }
        &__page{
            max-width:30%;
            height: 68.96px;
            text-align: center;
            padding-top: 1.5rem;          
            color: var(--paragraph, #666);
            animation-duration: 3s;
            animation-name:page;
            transition: .4s; 
            line-height: 32px;
        }
        
        &__page:hover {
           color: red;
            animation-duration: 3s;
            animation-name:page;
            transition: .4s; 
        }
        @keyframes page {
            from {
              margin-right: 100%;
              width: 300%;
            }
          
            to {
              margin-right: 0%;
              width: 100%;
            }
          }
          
        &__list{
            margin-top:2.8rem;
            display: flex;
            gap:1.875rem;
        }
        &__list-item{
            max-width:367px;
            background: #FFFFFF;
            box-shadow: 14px 24px 72px rgba(102, 102, 102, 0.1);
            border-radius: 8px;
            padding:31px;
            transition: .4s; 
        }
        &__list-item:hover {
            transform: scale(1.3);
            transition: .4s;   
        }
        &__list-item:not(:hover) {
            transition: .4s;
        }
        &__list-item h1{
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            /* identical to box height, or 142% */


            /* Primary B */

            color: #222222;

            padding-top:2.5rem;

        }
        &__list-item p{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */


            /* Paragraph */

            color: #666666;
            padding-top:2.5rem;
          
        }
        &__list-item-page{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #666666;
            padding-top:2.5rem;
            width: 290px;
        }
         }
         .exclisive__blocks-list p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #666666;
         }
         .exclusive{
            width:100%;
            
            &__item:hover {
                transform: scale(1.1);
                
                  }
            
            &__lists{
                text-align: center;
            }
            &__lists-title{
                font-size: 48px;
                transition: .4s; 
            }
            &__lists-title:hover {
                transform: scale(1.1);
                color: orange;
                transition: .4s; 
            }
            &__lists-page{
                font-size:16px;
                color: #666666;
                max-width: 26%;
                display: inline-block;
                margin-top: 1.5rem;
                transition: .4s; 
                line-height: 32px;
            }
            &__lists-page:hover {
                transform: scale(1.1);
                color: orange;
                transition: .4s; 
            }
            &__list{
                display: flex;
                gap:1.8rem;
                margin-left: 107px;
                margin-top: 4rem;
               margin-bottom: 4rem;
            }
            &__item{
                max-width: 279px;
                background: #FEFCFB;
                box-shadow: 0px 16px 80px rgba(254, 147, 94, 0.2);
                border-radius: 10px;
                transition: .4s; 
            }
            &__item:hover{
                
                transition: .4s; 
            }
            &__block{
                display: flex;
                gap:7rem;
                margin-top: 2rem;
                margin-left: 0.5rem;
                
            }
            &__block h4{
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 26px;
                color: #222222;
            }
            
            &__blocksl-page{
                color: #666666;
                text-decoration: line-through;
            }
            &__block-firenze{
                padding-left: 0.5rem;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
            }
            &__block-madrid{
                padding-left: 1.5rem;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
                
                
            }
            &__block-paris{
                padding-left: 1.5rem;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
            }
            &__block-london{
                padding-right:1px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
            }
            &__blocks{
                display: flex;
                gap: 5rem;
                margin-top: 2rem;
                margin-left: 1rem;
            }
            &__blocksl{
                display: flex;
                gap:1rem;
            }
            &__blocksl-text{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FA7436;
                border-radius: 5px;
                border:2px solid #ffc0cb;
                background-color:#ffc0cb;
            }
            &__button{
                display: flex;
               justify-content: center;
               gap:1.8rem;
               margin-bottom: 4rem;
            }
         }
         .plan__lists{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
         
         .plan {
            &__lists-title{
                font-size: 48px;
                line-height: 54px;
                transition: .4s; 
        }
            &__lists-title:hover{
                transform: scale(2.1);
                transition: .4s;
            }
            &__lists-page{
                max-width: 35%;
                text-align: center;
                color: #666666;
                padding-top: 1rem;
                font-size: 18px;
                line-height: 32px;
                transition: .4s;
            }
            &__lists-page:hover{
               color: violet;
               transition: .4s;
            }
            &__button{
                display: flex;
                justify-content: flex-end;
               gap:1.8rem;
               margin-bottom: 9.5rem;
            }
            
           
            width:100%;
           margin-top:7.8rem;
         }
        .plan__ilent{
            position: relative;
            left:70rem;
            bottom:325px;
        }
         .strana
        {
            &__lists{
                margin-left: 12.5rem;
                display: flex;
                gap:30px;
                margin-bottom: 7rem;
             }
             &__items{
                width: 28%;
                height:  35%;
                border: 1px solid    #00000033;
                border-radius: 20px;
                color:none;
                transition: .4s;
             }
             &__items:hover {
                transform: scale(1.1);
                transition: .4s;
                  }
            &__item-title{
                display:flex;
                gap:6rem;
                margin-top: 24px;
            }
            &__item-title h1{
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #222222;
                padding-left: 15px;
}
            &__item-title p{
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #FA7436;
            }
            &__item-page{
                display: flex;
                gap:150px;
                margin-top: 16px;
                margin-bottom: 24px;
            }
            &__item-page h1{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
            }
            &__item-page p{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
            }
             width:100%
         }
         .servic{
            &__list-title{
                color: #222;
                font-size: 48px;
                font-weight: 700;
                line-height: 54px;
                max-width:100%;
                padding-top: 1rem;
                overflow: hidden;
            }
            &__list-title:hover:before {
                	 left: 150px;
                	 transition: .5s ease-in-out;
                	}   
            &__list-title:active{
                    border: 2px solid #b3b3b3;
            }    
            &__list-page{
                width:110%;
                font-size: 16px;
                color:#666666;
                padding-top: 1rem;
                line-height: 32px;
                animation-duration: 2s;
                animation-name:last;
            }
            @keyframes last {
                from {
                  margin-left: 50%;
                  width: 300%;
                }
              
                to {
                  margin-left: 0%;
                  width: 100%;
                }
              }
              
            &__button{
                display: flex;
                gap:2rem;
                margin-top: 2rem;
            }
            &__list-pages{
                width: 55%;
                padding-top: 0,5rem;
                color:#666666;
                padding-left: 2rem;
                line-height: 22px;
                transition: .4s;
            }
            &__list-pages:hover{
                translate: -50px;
                transition: .4s;
            }
            &__list-titles{
                font-size: 18px;
                padding: 2rem;
                transition: .4s;
            }
            &__list-titles:hover{
                translate: -50px;
                transition: .4s;
            }
            &__list-titlesis{
                padding-left: 2rem;
                font-size: 14px;
                color:#666666;
                transition: .4s;
            }
            &__list-titlesis:hover{
                translate: -50px;
                transition: .4s;
            }
            &__list-imgs{
                transform: translate(-35px,0);
                transition: .5s;
                transition: .4s;
            }
            &__list-imgs:hover {
                transform: rotate(-30deg) scale(2);
                filter:blur(1px);
                transition: .4s;
               }    
            width:100%;
            height: 100%;
           display:flex;
           gap:60px;
           margin-left: 5%;
           padding: 10%;
           margin-right: 5%;
           margin-top: 10rem;
           margin-bottom: 10rem;
           background-color: #cdf1ff;
        }
        .servic__list-two{
            border-radius:5px;
            background: var(--white, #FFF);
            box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
            width: 100%;
            height: 250px;
           
         
        }
        .blog{
            &__title{
                display: flex;
                justify-content: center;
                margin-bottom: 4rem;
                max-width: 80%;
            }
            &__titler {
                transition: .4s;
            }
            &__titler:hover {
                transform: scale(1.1);
                transition: .4s;
                  }
            &__title h3{
                color: #000;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 54px;
                transition: .4s;
            }
            &__title h3:hover{
                translate:350px;
                transition: .4s;
            }
            &__titles{
                display: flex;
                padding-left: 9rem;
                padding-right: 12rem;
                gap:1.5rem;
            }
           
            &__titler h3{
                font-size: 1rem;
                max-width:78%;
                padding-top: 1rem;

            }
            
            &__titler p{
                color: #999;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                padding-top: 1rem;
            }
            max-width: 100%;
        }
        .subscribe{
            margin:10rem ;
            width:70%;
            height: 75%;
            border-radius: 16px;
            background:var(--primary-o, #FA7436);
            display: flex;
            flex-direction: column;
            align-items: center;
            position:relative;
            right: 0px;
            left:0px;

            &__list{
                display: flex;
               justify-content: center;
                padding-top: 5rem;
                padding-bottom: 5rem;
                transition: .4s;
            }
            &__list h1:hover{
                translate: 350px;
                transition: .4s;
            }
            &__list h1{
                color: #FEFCFB;
                font-size: 48px;
                width: 70%;
                text-align: center;
            }
            &__lists{
                border-radius: 10px;
                background: #FFF;
                width: 500px;
                height: 68px;
                margin: 3rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap:1rem;
                margin-bottom: 20rem;
                
            }
            &__lists-box{
                display: flex;
                align-content: center;
                flex-wrap: wrap;
            }
            &__lists-box input{
                
                background: transparent;
                border: none;
                padding-right: 10rem;
               
              
            }
            &__lists-box svg{
                background: transparent;
                border: none;
                
                

            }
            &__lists-button button {
                width:120px;
                height:60px;
                border-radius: 8px;
               background: var(--primary-o, #FA7436);
               color:#FEFCFB

            }
            &__lists-button  {
                margin-top: 3.5px;

            }
            &__border {
                
                &-item-1{
                    position: absolute;
                    left: 0px;
                    bottom:0px;
                  
                    width: 389.448px;
                }
               
            }
            &__palma{
                &-item-1{
                    position: absolute;
                    right: 0px;
                    top:0px;
                    max-width: 112px;
                }
            }
        }
        .triabocks{
            &__list:hover{
                transform: scale(1.1);
                transition: .4s;
            }
            &__list{
                transition: .4s;
            }
            &__block-instagram{
                width: 48px;
                height: 48px;
                border-radius: 20px;
                background-color: #FA7436;
                text-align: center;
                padding-top: 15px;
            }
            &__list-page{
                max-width:60%;
                color:#666666;
                padding-top: 1rem;
            }
            &__block{
                display: flex;
                padding-top: 1rem;
            }
           
            &__list-company{
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                 color:#000
            }
            &__list-companies{
                font-size: 15px;
                font-style: normal;                
                font-weight: 400;   
                color:#666666;     
                padding-top: 1rem;        
            }
            width: 70%;
            margin:18rem;
            gap:30px;
            display: flex;
        }
.red {
    background-color:green;
    transition: 1s;
}
.footer{
    display: flex;
    gap:41rem;
    margin-top: 20px;
    padding-left: 50px;
    padding-bottom:50px;
    border-top:1px solid #999;
    transition: .4s;
    &-item {
       padding-top: 30px;
    }
    &-item a{
        text-decoration: none;
        color:#999;
    }
}
.footer:hover{
    transform: scale(1.1);
    transition: .4s;
}
.uself{
    transform: scale(1.1);
    transition: .4s;
}
.uself:hover{
    background-color: #FA7436;
    transition: .4s;
}

//mobile

