@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Volkhov", serif;
}

li {
  list-style-type: none;
}

.orange {
  color: #FA7436;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
}

.header:hover {
  transition: 0.4s;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1.8rem;
  transition: 0.4s;
}
.header__item {
  display: flex;
  gap: 2rem;
}
.header__list {
  display: flex;
  gap: 2rem;
}
.header__list a {
  text-decoration: none;
  color: black;
}
.header__item a {
  text-decoration: none;
  color: orange;
}
.header__button {
  background-color: orange;
  width: 8rem;
  height: 2rem;
  background: #FA7436;
  box-shadow: 0px 8px 16px rgba(250, 116, 54, 0.24);
  border-radius: 5px;
  color: white;
  border: none;
}

.journey {
  display: flex;
  margin-top: 39px;
  width: 100%;
}
.journey__block {
  margin-top: 3.18rem;
  flex: 0 0 50%;
}
.journey__block2 {
  overflow: hidden;
  transition: 0.4s ease-in-out;
}
.journey__block2:hover:before {
  left: 150px;
  transition: 0.4s ease-in-out;
}
.journey__block2:active {
  border: 2px solid #b3b3b3;
}
.journey__title {
  max-width: 500px;
  font-size: 3rem;
  animation-duration: 3s;
  animation-name: slide;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.journey__page {
  margin-top: 1.9rem;
  max-width: 70%;
  color: #666666;
  animation-duration: 3s;
  animation-name: slidein;
  line-height: 40px;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.journey__buttom {
  margin-top: 3.81rem;
  width: 182px;
  height: 40px;
  border: 1px solid #FA7436;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 9.52px;
  background-color: transparent;
}
.journey__block2 {
  flex: 0 0 50%;
}

.location {
  max-width: 670px;
  height: 124px;
  display: flex;
  justify-content: center;
}
.location__block {
  gap: 2rem;
  padding-top: 2rem;
  margin-left: 3rem;
  max-width: 100%;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  justify-content: center;
}
.location__item {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.location__item:hover {
  transform: scale(1.1);
  color: #FA7436;
  transition: 0.4s;
}
.location__item:not(:hover) {
  transition: 0.4s;
}
.location__button {
  width: 168px;
  height: 60px;
  color: white;
  background: #FA7436;
  box-shadow: 0px 8px 16px rgba(250, 116, 54, 0.16);
  border-radius: 5px;
  border: none;
}
.location__item-page {
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 4px;
}

.thing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 9.6rem;
}
.thing__box {
  position: relative;
  left: 400px;
  top: 150px;
  width: 150px;
}
.thing__title {
  max-width: 35%;
  height: 58.18px;
  font-weight: 700;
  font-size: 48px;
  transition: 0.4s;
  color: var(--primary-b, #222);
}
.thing__title:hover {
  transform: scale(1.1);
  color: green;
  transition: 0.4s;
}
.thing__page {
  max-width: 30%;
  height: 68.96px;
  text-align: center;
  padding-top: 1.5rem;
  color: var(--paragraph, #666);
  animation-duration: 3s;
  animation-name: page;
  transition: 0.4s;
  line-height: 32px;
}
.thing__page:hover {
  color: red;
  animation-duration: 3s;
  animation-name: page;
  transition: 0.4s;
}
@keyframes page {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
.thing__list {
  margin-top: 2.8rem;
  display: flex;
  gap: 1.875rem;
}
.thing__list-item {
  max-width: 367px;
  background: #FFFFFF;
  box-shadow: 14px 24px 72px rgba(102, 102, 102, 0.1);
  border-radius: 8px;
  padding: 31px;
  transition: 0.4s;
}
.thing__list-item:hover {
  transform: scale(1.3);
  transition: 0.4s;
}
.thing__list-item:not(:hover) {
  transition: 0.4s;
}
.thing__list-item h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  /* Primary B */
  color: #222222;
  padding-top: 2.5rem;
}
.thing__list-item p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* Paragraph */
  color: #666666;
  padding-top: 2.5rem;
}
.thing__list-item-page {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  padding-top: 2.5rem;
  width: 290px;
}

.exclisive__blocks-list p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
}

.exclusive {
  width: 100%;
}
.exclusive__item:hover {
  transform: scale(1.1);
}
.exclusive__lists {
  text-align: center;
}
.exclusive__lists-title {
  font-size: 48px;
  transition: 0.4s;
}
.exclusive__lists-title:hover {
  transform: scale(1.1);
  color: orange;
  transition: 0.4s;
}
.exclusive__lists-page {
  font-size: 16px;
  color: #666666;
  max-width: 26%;
  display: inline-block;
  margin-top: 1.5rem;
  transition: 0.4s;
  line-height: 32px;
}
.exclusive__lists-page:hover {
  transform: scale(1.1);
  color: orange;
  transition: 0.4s;
}
.exclusive__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-left: 107px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.exclusive__item {
  max-width: 279px;
  background: #FEFCFB;
  box-shadow: 0px 16px 80px rgba(254, 147, 94, 0.2);
  border-radius: 10px;
  transition: 0.4s;
}
.exclusive__item:hover {
  transition: 0.4s;
}
.exclusive__block {
  display: flex;
  gap: 7rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
}
.exclusive__block h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: #222222;
}
.exclusive__blocksl-page {
  color: #666666;
  text-decoration: line-through;
}
.exclusive__block-firenze {
  padding-left: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.exclusive__block-madrid {
  padding-left: 1.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.exclusive__block-paris {
  padding-left: 1.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.exclusive__block-london {
  padding-right: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.exclusive__blocks {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.exclusive__blocksl {
  display: flex;
  gap: 1rem;
}
.exclusive__blocksl-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FA7436;
  border-radius: 5px;
  border: 2px solid #ffc0cb;
  background-color: #ffc0cb;
}
.exclusive__button {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-bottom: 4rem;
}

.plan__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan {
  width: 100%;
  margin-top: 7.8rem;
}
.plan__lists-title {
  font-size: 48px;
  line-height: 54px;
  transition: 0.4s;
}
.plan__lists-title:hover {
  transform: scale(2.1);
  transition: 0.4s;
}
.plan__lists-page {
  max-width: 35%;
  text-align: center;
  color: #666666;
  padding-top: 1rem;
  font-size: 18px;
  line-height: 32px;
  transition: 0.4s;
}
.plan__lists-page:hover {
  color: violet;
  transition: 0.4s;
}
.plan__button {
  display: flex;
  justify-content: flex-end;
  gap: 1.8rem;
  margin-bottom: 9.5rem;
}

.plan__ilent {
  position: relative;
  left: 70rem;
  bottom: 325px;
}

.strana {
  width: 100%;
}
.strana__lists {
  margin-left: 12.5rem;
  display: flex;
  gap: 30px;
  margin-bottom: 7rem;
}
.strana__items {
  width: 28%;
  height: 35%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: none;
  transition: 0.4s;
}
.strana__items:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.strana__item-title {
  display: flex;
  gap: 6rem;
  margin-top: 24px;
}
.strana__item-title h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #222222;
  padding-left: 15px;
}
.strana__item-title p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FA7436;
}
.strana__item-page {
  display: flex;
  gap: 150px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.strana__item-page h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.strana__item-page p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.servic {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 60px;
  margin-left: 5%;
  padding: 10%;
  margin-right: 5%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: #cdf1ff;
}
.servic__list-title {
  color: #222;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  max-width: 100%;
  padding-top: 1rem;
  overflow: hidden;
}
.servic__list-title:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}
.servic__list-title:active {
  border: 2px solid #b3b3b3;
}
.servic__list-page {
  width: 110%;
  font-size: 16px;
  color: #666666;
  padding-top: 1rem;
  line-height: 32px;
  animation-duration: 2s;
  animation-name: last;
}
@keyframes last {
  from {
    margin-left: 50%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.servic__button {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.servic__list-pages {
  width: 55%;
  padding-top: 0, 5rem;
  color: #666666;
  padding-left: 2rem;
  line-height: 22px;
  transition: 0.4s;
}
.servic__list-pages:hover {
  translate: -50px;
  transition: 0.4s;
}
.servic__list-titles {
  font-size: 18px;
  padding: 2rem;
  transition: 0.4s;
}
.servic__list-titles:hover {
  translate: -50px;
  transition: 0.4s;
}
.servic__list-titlesis {
  padding-left: 2rem;
  font-size: 14px;
  color: #666666;
  transition: 0.4s;
}
.servic__list-titlesis:hover {
  translate: -50px;
  transition: 0.4s;
}
.servic__list-imgs {
  transform: translate(-35px, 0);
  transition: 0.5s;
  transition: 0.4s;
}
.servic__list-imgs:hover {
  transform: rotate(-30deg) scale(2);
  filter: blur(1px);
  transition: 0.4s;
}

.servic__list-two {
  border-radius: 5px;
  background: var(--white, #FFF);
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.01), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 250px;
}

.blog {
  max-width: 100%;
}
.blog__title {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  max-width: 80%;
}
.blog__titler {
  transition: 0.4s;
}
.blog__titler:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.blog__title h3 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  transition: 0.4s;
}
.blog__title h3:hover {
  translate: 350px;
  transition: 0.4s;
}
.blog__titles {
  display: flex;
  padding-left: 9rem;
  padding-right: 12rem;
  gap: 1.5rem;
}
.blog__titler h3 {
  font-size: 1rem;
  max-width: 78%;
  padding-top: 1rem;
}
.blog__titler p {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 1rem;
}

.subscribe {
  margin: 10rem;
  width: 70%;
  height: 75%;
  border-radius: 16px;
  background: var(--primary-o, #FA7436);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 0px;
  left: 0px;
}
.subscribe__list {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  transition: 0.4s;
}
.subscribe__list h1:hover {
  translate: 350px;
  transition: 0.4s;
}
.subscribe__list h1 {
  color: #FEFCFB;
  font-size: 48px;
  width: 70%;
  text-align: center;
}
.subscribe__lists {
  border-radius: 10px;
  background: #FFF;
  width: 500px;
  height: 68px;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 20rem;
}
.subscribe__lists-box {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.subscribe__lists-box input {
  background: transparent;
  border: none;
  padding-right: 10rem;
}
.subscribe__lists-box svg {
  background: transparent;
  border: none;
}
.subscribe__lists-button button {
  width: 120px;
  height: 60px;
  border-radius: 8px;
  background: var(--primary-o, #FA7436);
  color: #FEFCFB;
}
.subscribe__lists-button {
  margin-top: 3.5px;
}
.subscribe__border-item-1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 389.448px;
}
.subscribe__palma-item-1 {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 112px;
}

.triabocks {
  width: 70%;
  margin: 18rem;
  gap: 30px;
  display: flex;
}
.triabocks__list:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.triabocks__list {
  transition: 0.4s;
}
.triabocks__block-instagram {
  width: 48px;
  height: 48px;
  border-radius: 20px;
  background-color: #FA7436;
  text-align: center;
  padding-top: 15px;
}
.triabocks__list-page {
  max-width: 60%;
  color: #666666;
  padding-top: 1rem;
}
.triabocks__block {
  display: flex;
  padding-top: 1rem;
}
.triabocks__list-company {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #000;
}
.triabocks__list-companies {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #666666;
  padding-top: 1rem;
}

.red {
  background-color: green;
  transition: 1s;
}

.footer {
  display: flex;
  gap: 41rem;
  margin-top: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #999;
  transition: 0.4s;
}
.footer-item {
  padding-top: 30px;
}
.footer-item a {
  text-decoration: none;
  color: #999;
}

.footer:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.uself {
  transform: scale(1.1);
  transition: 0.4s;
}

.uself:hover {
  background-color: #FA7436;
  transition: 0.4s;
}/*# sourceMappingURL=style.css.map */